@import url('https://fonts.cdnfonts.com/css/hubot-sans');
*{ box-sizing: border-box; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; scroll-behavior: smooth;}
html, body { height: 100%; 
}

html::-webkit-scrollbar { display: none; }
html { -ms-overflow-style: none; scrollbar-width: none; }

*{
    box-sizing: border-box;
}

body {
    
    margin: 0;
    font-family: Untitled Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    background: #05060f linear-gradient(0deg,rgba(216,236,248,.06),rgba(152,192,239,.06));

    font-size: max(calc(var(--_size) * 0.03), 10px);
    --_factor: min(600px, 80vh);
    --_size: min(var(--_factor), 80vw);
}

h2 {
    font-family: 'Hubot-Sans', sans-serif;
}
h2, p {
    margin: 0; padding: 0;
}
h2 a {
    text-decoration: none;
    color: unset;
    font-size: 20px;
    margin-left: -350px;
}

.header {
    display: flex; width: 100%;
    justify-content: center;
    color: #bad6f7;
    padding: 2em;
    position: absolute;
    top: 0; left: 0; right: 0; margin: 0 auto;

    opacity: 0;
    translate: 0 -1em;
    animation: load 2s ease-in 2s forwards, up 1.4s ease-out 2s forwards;
}
.header > :nth-child(1) {
    font-size: 1em;
    position: absolute; left: 0; right: 29em; margin: 0.2em auto;
    width: fit-content;
}
.header > :nth-child(2) {
    position: absolute; left: 0; right: 0; margin: 0 auto;
    width: fit-content;
}
.header > h2{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.04s ease-in-out;
}
.header > h2:hover {
    opacity: 1;
    text-shadow: 0 2px 16px rgba(174,207,242, 0.6);
    width: fit-content;
}

.header > div.mid-spot {
    width: 1.8em; height: 1.8em;
    border-radius: 50%;
    background: black;
    box-shadow: 0 0 1em 0 #98c0ef;
    cursor: pointer;
    transition: box-shadow 1s ease-in-out;
}


.header > :nth-child(2):hover ~ .spotlight {
    animation: colorize 10s linear infinite;
}
@keyframes colorize {
    0%{filter: hue-rotate(0deg); }
    100% {filter: hue-rotate(-380deg);}
}

button.contact-btn {
    position: absolute; left: min(46em, 60vw); right: 0; margin: 0 auto;
    width: 8em; height: 2.4em;
    cursor: pointer;
    border-radius: 20em;
    border: none;
    transition: background 0.5s, transform 0.5s;
    
    border: 1px solid #c2ccff33;
    opacity: 1;
    padding-top: 0.3em;

    background: #121521;
    color: #9dc3f7;
    white-space:nowrap;
}
button.contact-btn::before {
    content: ''; display: block; position:absolute; left: 0; top:0; border-radius: 20em;
    width: 100%; height: 100%;
    background: #c2ccff91 radial-gradient(farthest-side at 50% 100%, #c2ccff, transparent);
    opacity: 0.1;
    transition: all 0.4s ease-in-out;
}
button.contact-btn:hover::before {
    background: #c2ccff1e radial-gradient(farthest-side at 50% 100%, #c2ccff, transparent);
    opacity: 0.3;
}
.contact-btn .glow {
    --border-width: 1px;
    --loop-cycle: 24s;
    position: absolute;
    inset: calc(var(--border-width)* -1);
    border-radius: 50px;
    border: var(--border-width) solid transparent;
    -webkit-mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    -webkit-mask-clip: padding-box, border-box;
    mask-clip: padding-box, border-box;
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
    pointer-events: none;
}
button.contact-btn:hover .glow {
    --loop-cycle: 2s;
}
.contact-btn .glow::after, .contact-btn .glow::before {
    content: "";
    height: 100%;
    offset-anchor: 100% 50%;
    background: radial-gradient(circle at 50% 50%, hsla(0, 0%, 100%, 0.75), transparent 50%), radial-gradient(circle at 50% 50%, #c2ccff 50%, transparent);
    opacity: 0.4;
    offset-path: rect(0 100% 100% 0 round 33px);
    position: absolute;
    display: inline-block;
    -webkit-animation: loop 4s linear infinite;
    animation: loop var(--loop-cycle) linear infinite;
    aspect-ratio: 1 / 1;
    transition: opacity 1s ease-in-out;
}
.contact-btn .glow::before {
    animation-delay: calc( var(--loop-cycle) / -2 );
}
@keyframes loop {
    100% {
        offset-distance: 100%;
    }    
}
.contact-btn-content {
    background: linear-gradient(0deg, #d8ecf8, #98c0ef);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
    line-height: 142%;
}
button.contact-btn:hover .glow::after, button.contact-btn:hover .glow::before {
    opacity: 0.6;
}
@keyframes btn-rot {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; } 
}

.header .spotlight {
    pointer-events: none;
    position: absolute; left: 0; right: 0; top:0; margin: 0 auto;
    transition: filter 1s ease-in-out;

    height: 42em; width: 100%;
    overflow: hidden;
}
.header .spotlight > div {
    border-radius: 0 0 50% 50%;
    position: absolute; left: 0; right: 0; margin: 0 auto; 
    top: 3em;
    width: 30em; height: max(42em, 86vh);
    background-image: conic-gradient(from 0deg at 50% -5%, transparent 45%, rgba(124, 145, 182, .3) 49%, rgba(124, 145, 182, .5) 50%, rgba(124, 145, 182, .3) 51%, transparent 55%);
    transform-origin: 50% 0;
    filter: blur(15px) opacity(0.5);
    z-index: -1;
    animation: load 2s ease-in-out forwards, loadrot 2s ease-in-out forwards, spotlight 21s ease-in-out infinite reverse;
}
.header .spotlight > div:nth-child(1){ 
    rotate: 20deg;
    animation: load 2s ease-in-out forwards, loadrot 2s ease-in-out forwards, spotlight 17s ease-in-out infinite;
}
.header .spotlight > div:nth-child(2){ 
    rotate: -20deg;
    animation: load 2s ease-in-out forwards, loadrot 2s ease-in-out forwards, spotlight 14s ease-in-out infinite;
}
@keyframes loadrot {
    0% { rotate: 0deg; scale: 0;}
    100% { scale: 1;}
}
@keyframes spotlight {
    0% {
        transform: rotateZ(0deg) scale(1);
        filter: blur(15px) opacity(0.5);
    }
    20% {
        transform: rotateZ(-1deg) scale(1.2);
        filter: blur(16px) opacity(0.6);
    }    
    40% {
        transform: rotateZ(2deg) scale(1.3);
        filter: blur(14px) opacity(0.4);
    }    
    60% {
        transform: rotateZ(-2deg) scale(1.2);
        filter: blur(15px) opacity(0.6);
    }    
    80% {
        transform: rotateZ(1deg) scale(1.1);
        filter: blur(13px) opacity(0.4);
    }    
    100% {
        transform: rotateZ(0deg) scale(1);
        filter: blur(15px) opacity(0.5);
    }    
}

canvas#particleCanvas {
    position: absolute; pointer-events: none;
    animation: load 0.4s ease-in-out forwards;
    z-index: 1;
    width: 100%;
}

p {
    font-size: 1.5em;
}

.hero {
    width: 100%;
    height: 100%;
    max-height: 140px;
    position: absolute; top: 16em;
}

.heroT {
    position: absolute; left: 0; right: 0; margin: auto;
    height: 20em;
    padding-top: 2em;
    translate: 0 -1.6em;
    opacity: 0;
    animation: load 2s ease-in-out 0.6s forwards;
}
@keyframes load {  
    0% { opacity: 0;}    
    100% { opacity: 1;}    
}
.heroT > h2 {
    position: absolute;left: 0; right: 0; margin: auto;
    width: fit-content;
    
    font-size: 7em;
    font-weight: 600;
    color: #9dc3f7;
    background:
    radial-gradient( 2em 2em at 50% 50%,
        transparent calc(var(--p) - 2em),
        #fff calc(var(--p) - 1em), 
        #fff calc(var(--p) - 0.4em), 
        transparent var(--p) 
    ),
    linear-gradient(0deg, #bad1f1 30%, #9dc3f7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 16px rgba(174,207,242,.24);

    --p:0%;
    transition:--p 3s linear;
    
    animation: pulse 10s linear 1.2s infinite;
}

.heroT h2:nth-child(2) {
    background:
    radial-gradient( 2em 2em at 50% 50%,
        transparent calc(var(--p) - 2em),
        transparent calc(var(--p) - 1em),
        #fff calc(var(--p) - 1em), 
        #fff calc(var(--p) - 0.4em), 
        transparent calc(var(--p) - 0.4em), 
        transparent var(--p) 
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(16px) opacity(0.4);
}
@keyframes pulse { 
    0% { --p:0%; }
    50% { --p:300%;}
    100% { --p:300%;}
}
@property --p {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.heroP {
    font-size: 1.2em;
    position: absolute; left: 0; right: 0; top: 20.6em; margin: auto;
    height: fit-content; width: fit-content; text-align: center;
    opacity: 0;
    translate: 0 1em;
    animation: load 2s ease-out 2s forwards, up 1.4s ease-out 2s forwards;
    color: #d8ecf8;
    text-shadow: 0 2px 16px rgba(174,207,242,.24);
    background: linear-gradient(0deg, #d8ecf8 0, #98c0ef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes up {      
    100% { translate: 0; }    
}

.heroSubP {
    position: absolute; left: 0; right: 0; top: 13em; margin: auto;
    height: fit-content;
    opacity: 0;
    translate: 0 -1em;
    animation: load3 2s ease-in 0s forwards, up 1.4s ease-out 0s forwards;
}
@keyframes load3 {  
    0% { opacity: 0;}    
    100% { opacity: 0.7;}    
}
.heroSubP p {
    font-size: 1em;
    position: relative; width: fit-content; margin: auto;
    color: #d8ecf8;
    text-shadow: 0 2px 16px rgba(174,207,242,.24);
    background: linear-gradient(0deg, #d8ecf8 0, #98c0ef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heroSubP p::before,
.heroSubP p::after {
    position: absolute; top: 60%; 
    display: block; content: '';
    width: 5em; height: 1px;
    opacity: 0;
    animation: load2 1.4s ease-in-out 0s forwards, up 1.4s ease-out 0s forwards;
}
@keyframes load2 {  
    0% { opacity: 0;}    
    100% { opacity: 0.3;}    
}
.heroSubP p::before{
    background: linear-gradient( -90deg, #9dc3f7 0%, transparent 100%);
    right: 120%;
    translate: -5em 0;
}
.heroSubP p::after {
    background: linear-gradient( 90deg, #9dc3f7 0%, transparent 100%);
    left: 120%;
    translate: 5em 0;
}

.accent-lines {
    pointer-events: none;
    position: absolute; top: 0; left: 0; right: 0;
    width: 100%; height: 42em;
    z-index: -2;
    --accent-lines-clr: rgba(186, 215, 247, .18);
}
.accent-lines > div {
    position: absolute; top: 0; right: 0; left: 0; margin: auto;
    height: 100%; width: 100%;
}
.accent-lines > div:nth-child(1) > div{
    position: absolute; top: 0; right: 0; left: 0; margin: auto;
    width: 100%; height: 1px;
    background: linear-gradient(90deg, transparent, var(--accent-lines-clr), transparent);
    opacity: 0; scale: 0;
    animation: accentload 2s ease-out 2.4s forwards;
}
.accent-lines > div:nth-child(1) > div:nth-child(1){ top: 6em; }
.accent-lines > div:nth-child(1) > div:nth-child(2){ top: 11em; }
.accent-lines > div:nth-child(1) > div:nth-child(3){ top: 16em; }
.accent-lines > div:nth-child(1) > div:nth-child(4){ top: 24em; }
.accent-lines > div:nth-child(1) > div:nth-child(5){ top: 29em; }
.accent-lines > div:nth-child(2) > div{
    position: absolute; top: 0; right: 0; left: 0; margin: auto;
    width: 1px; height: 100%;
    background: var(--accent-lines-clr);
}
@keyframes accentload {
    0% {
        opacity: 0; scale: 0;
    }
    100% {
        opacity: 1; scale: 1;
    }
}

.accent-lines > div:nth-child(2) > div {
    opacity: 0; scale: 0;
    animation: accentload 2s ease-out 2s forwards;
}
.accent-lines > div:nth-child(2) > div:nth-child(1){ left: 24em; }
.accent-lines > div:nth-child(2) > div:nth-child(2){ left: 34em; }
.accent-lines > div:nth-child(2) > div:nth-child(3){ right: 24em; }
.accent-lines > div:nth-child(2) > div:nth-child(4){ right: 34em; }

.accent-lines > div:nth-child(1) > div::before, 
.accent-lines > div:nth-child(1) > div::after { 
    content: ''; display: none; position: absolute;
    width: 0.2em; height: 0.2em; border-radius: 1em;
    background: #9dc3f7;
    left: 0; right: 0; margin: auto;
    translate: 0 -1px;

    opacity: 0; scale: 0;
    animation: accentload 2s ease-out 4.4s forwards;
}

.accent-lines > div:nth-child(1) > div:nth-child(3)::before{ display: block; left: 24em; }
.accent-lines > div:nth-child(1) > div:nth-child(3)::after{ display: block; right: 24em; }
.accent-lines > div:nth-child(1) > div:nth-child(4)::before{ display: block; left: 24em; }
.accent-lines > div:nth-child(1) > div:nth-child(4)::after{ display: block; right: 24em; }
.accent-lines > div:nth-child(1) > div:nth-child(5)::before{ display: block; left: 24em; }
.accent-lines > div:nth-child(1) > div:nth-child(5)::after{ display: block; right: 24em; }

.accent-lines > div:nth-child(1) > div:nth-child(2)::before,
.accent-lines > div:nth-child(1) > div:nth-child(2)::after{ 
    display: block; width: 5em; height: 1px; border-radius: 0; opacity: 0.12;
}
.accent-lines > div:nth-child(1) > div:nth-child(2)::before{
    right: 24em; rotate: 45deg; translate: -2.5em 2.5em;
}
.accent-lines > div:nth-child(1) > div:nth-child(2)::after{
    right: 24em; rotate: -45deg; translate: -2.5em 2.5em;
}
.accent-lines > div:nth-child(1) > div:nth-child(1)::before,
.accent-lines > div:nth-child(1) > div:nth-child(1)::after{ 
    display: block; width: 5em; height: 1px; border-radius: 0; opacity: 0.12;
}
.accent-lines > div:nth-child(1) > div:nth-child(1)::before{
    left: 24em; rotate: 45deg; translate: 2.5em 7.5em;
}
.accent-lines > div:nth-child(1) > div:nth-child(1)::after{
    left: 24em; rotate: -45deg; translate: 2.5em 7.5em;
}

.accent-lines > div:nth-child(1) > div:nth-child(2)::before,
.accent-lines > div:nth-child(1) > div:nth-child(2)::after {
    opacity: 0; scale: 0;
    animation: accentload2 2s ease-out 2.4s forwards;
}
.accent-lines > div:nth-child(1) > div:nth-child(1)::before,
.accent-lines > div:nth-child(1) > div:nth-child(1)::after {
    opacity: 0; scale: 0;
    animation: accentload3 2s ease-out 2.4s forwards;
} 
@keyframes accentload2 {
    0% {
        opacity: 0; scale: 0; transform: rotate(360deg);
    }
    50% { scale: 0; }
    100% {
        opacity: 0.12; scale: 1; transform: rotate(0deg);
    }
}
@keyframes accentload3 {
    0% {
        opacity: 0; scale: 0; transform: rotate(-360deg);
    }
    50% { scale: 0; }
    100% {
        opacity: 0.12; scale: 1; transform: rotate(0deg);
    }
}

.mountains {
    position: absolute; left: 0; right: 0; top: 31em; margin: auto;
    width: 100%; height: 10em;
    pointer-events: none;
}
.mountains::before {
    content: ''; display: block;
    width: 100%; height: 500%;
    position: absolute; top: 0%;
    background: linear-gradient(90deg, #121521 0%, transparent 50%);
    background: linear-gradient(0deg, #121521 80%, transparent 90%);
    z-index: 2;
}
.mountains > div {
    box-shadow: 
    -1em -0.2em 0.4em -1.1em #c2ccff,
    inset 0em 0em 0em 2px #c2ccff,
    inset 0.2em 0.3em 0.2em -0.2em #c2ccff,
    inset 10.2em 10.3em 2em -10em #d4e6ff2f;
    background: #121521;
    z-index: 1;
    filter: brightness(0.8);
    position: absolute; left: 0; right: 0; margin: auto;
    width: 20em; height: 20em;
    rotate: 45deg;
}
.mountains > div:nth-child(1) {
    bottom: -240%; 
    translate: -6em 2em;
    animation: mountainload1 2s ease-out 2.4s forwards;
}
.mountains > div:nth-child(2) {
    bottom: -240%;
    translate: -2em 0em;
    width: 14em; height: 20em;
    animation: mountainload2 2s ease-out 2.2s forwards;
}
.mountains > div:nth-child(3) {
    bottom: -240%; 
    translate: 6em 3em;
    animation: mountainload1 2s ease-out 2s forwards;
}
@keyframes mountainload1 {
    0% { bottom: -240%; }
    100% { bottom: -140%; }
}
@keyframes mountainload2 {
    0% { bottom: -240%; }
    100% { bottom: -108%; }
}
.mountains > div::before {
    content: ''; display: block;
    background: repeating-radial-gradient( at 100% 100%, transparent 0%, #c2ccff22 2px, transparent 4px);
    width: 12em; height: 12em;
    position: absolute;
    left: 0; top: 0;
    border-bottom-right-radius: 100%;
}

.hero-spacer {
    height: 40em;
    pointer-events: none;
}

.content-section {
    position: relative;
    z-index: 1112;
    color: #000000;
    width: 100%;
    text-align: center;
    padding: 16em 0 12em 0;
    overflow: hidden;
}

.content-section p.subt {
    color: #d8ecf8be;
    font-size: 0.8em;
    font-weight: 200;
    position: relative;
    width: fit-content;
    margin: auto;
}
.content-section h3 {
    margin: 0.4em 0 0.6em 0;
    font-size: 2.5em;
    font-weight: 600;
    color: #d8ecf8;
    text-shadow: 0 2px 16px rgba(174,207,242,.24);
    background: linear-gradient(0deg, #d8ecf8 0, #98c0ef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .title_card {
    padding-top: 50px;
    text-align: center;
    margin: 0.4em 0 0.6em 0;
    font-size: 2.5em;
    font-weight: 600;
    color: #d8ecf8;
    text-shadow: 0 2px 16px rgba(174,207,242,.24);
    background: linear-gradient(0deg, #d8ecf8 0, #98c0ef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-section p.subp {
    color: #d8ecf8be;
    font-size: 1.2em;
    font-weight: 400;
    max-width: 28em;
    margin: auto;
}

.content-section p.subt::before,
.content-section p.subt::after {
    position: absolute; top: 60%; 
    display: block; content: '';
    width: 5em; height: 1px;
    opacity: 0.5;
}
.content-section p.subt::before{
    background: linear-gradient( -90deg, #9dc3f7 0%, transparent 100%);
    right: 120%;
    top: 50%;
}
.content-section p.subt::after {
    background: linear-gradient( 90deg, #9dc3f7 0%, transparent 100%);
    left: 120%;
    top: 50%;
}

.content-section .content-acc {
    position: absolute;
    left: 0; right: 0; top: 25%; margin: auto;
    display: flex; justify-content: center;
}
.content-section .content-acc div{
    width: 10em; height: 10em;
    border-radius: 50%;
    box-shadow: 
    -1em -0.2em 0.4em -1.1em #c2ccff,
    inset 0em 0em 0em 2px #c2ccff,
    inset 0.2em 0.3em 0.2em -0.2em #c2ccff,
    inset -1.2em 2.3em 2em -0.5em #d4e6ff2f;
    background: #121521;
    z-index: 1;
    filter: brightness(0.8);
    background: repeating-radial-gradient( at 50% 50%, transparent 0%, #c2ccff22 2px, transparent 4px);
    translate: -18em;
}
.content-section .content-acc div:nth-child(2){
    translate: 18em 12em;
    border-radius: 2em;
    box-shadow: 
    -1em -0.2em 0.4em -1.1em #c2ccff,
    inset 0em 0em 0em 2px #c2ccff,
    inset 0.2em 0.3em 0.2em -0.2em #c2ccff,
    inset 10.8em 11.3em 2em -10.5em #d4e6ff2f;
}

section {
    margin-top: -40px;
    background: #121521;
    height: 100%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 710px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #d8ecf8be;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: #d8ecf8be;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  a.zoomed p {
    -webkit-line-clamp: unset;
  }
  a.zoomed .card-inner {
    overflow: auto;
  }
  a.opacity-0 {
    opacity: 0;
  }
  .overflow {
    overflow: hidden;
  }
  .overflow .background {
    opacity: 0 !important;
  }
  
  .background {
    background-color: #9dc3f7;
    border-radius: 20px;
    position: absolute;
    transition: all 0.4s ease-in-out;
    opacity: 1%;
    
  }
  .card-wraper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-between;
  }
  a.card {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 10px;
  }



  .card-main {
    border: 1px solid #030f20;
    padding: 40px;
    width: 100%;
    height: 100%;
    min-height: 200px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #19222e;
  }

  .card:hover .card-main {
    position: relative;
    z-index: 20;
  }
    

  .card-inner {
    position: relative;
    z-index: 50;
    height: 100%;
  }
  .card-inner div {
    height: 50%;
  }
  img {
    height: 100%;
    width: 100%;
  }
  
  @media screen and (max-width: 1199px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media screen and (max-width: 991px) {
    body {
      height: 100%;
    }
    .container {
      max-width: 720px;
      display: block;
    }
    .card-wraper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media screen and (max-width: 767px) {
    .container {
      max-width: 520px;
    }
    .card-wraper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .card-main {
      padding: 30px 20px;
    }
    a.card {
      padding: 6px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .container {
      max-width: 100%;
    }
    .card-wraper {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .card-main {
      padding: 40px;
    }
    a.card {
      padding: 10px;
    }
  }
  
#wrap
{
	width: 100%;
	height: 60%;
	position: relative;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

#lightings
{
	bottom: -60px;
	position: absolute;
	width: 100%;
}

#one
{
	/*animation*/
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes 
one { from {
-webkit-box-shadow: 0 0 250px 20px #1240d6;
}

to { -webkit-box-shadow: 0 0 100px 15px #eb784b; }
}
@-moz-keyframes 
one { from {
-moz-box-shadow: 0 0 250px 20px #1240d6;
}

to { -moz-box-shadow: 0 0 100px 15px #eb784b; }
}
@-o-keyframes 
one { from {
-o-box-shadow: 0 0 250px 20px #1240d6;
}

to { -o-box-shadow: 0 0 100px 15px #eb784b; }
}

@keyframes 
one { from {
box-shadow: 0 0 250px 20px #1240d6;
}

to {box-shadow: 0 0 100px 15px #eb784b; }
}

#two
{
	width: 90%;
	/*animation*/
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes 
two { from {
-webkit-box-shadow: 0 0 250px 20px #188ec4;
}

to { -webkit-box-shadow: 0 0 100px 15px #f0a05e; }
}
@-moz-keyframes 
two { from {
-moz-box-shadow: 0 0 250px 20px #188ec4;
}

to { -moz-box-shadow: 0 0 100px 15px #f0a05e; }
}
@-o-keyframes 
two { from {
-o-box-shadow: 0 0 250px 20px #188ec4;
}

to { -o-box-shadow: 0 0 100px 15px #f0a05e; }
}

@keyframes 
two { from {
box-shadow: 0 0 250px 20px #188ec4;
}

to { box-shadow: 0 0 100px 15px #f0a05e; }
}

#three
{
	width: 80%;
	/*animation*/
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes 
three { from {
-webkit-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -webkit-box-shadow: 0 0 100px 15px #3E33FF; }
}
@-moz-keyframes 
three { from {
-moz-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -moz-box-shadow: 0 0 100px 15px #3E33FF }
}
@-o-keyframes 
three { from {
-o-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -o-box-shadow: 0 0 100px 15px #3E33FF }
}

@keyframes 
three { from {
box-shadow: 0 0 250px 20px #FFDD00;
}

to { box-shadow: 0 0 100px 15px #3E33FF }
}

#four
{
	width: 70%;
	/*animation*/
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes 
four { from {
-webkit-box-shadow: 0 0 250px 20px #182278;
}

to { -webkit-box-shadow: 0 0 100px 15px #f1f2bb; }
}
@-moz-keyframes 
four { from {
-moz-box-shadow: 0 0 250px 20px #182278;
}

to { -moz-box-shadow: 0 0 100px 15px #f1f2bb; }
}
@-o-keyframes 
four { from {
-o-box-shadow: 0 0 250px 20px #182278;
}

to { -o-box-shadow: 0 0 100px 15px #f1f2bb; }
}

@keyframes 
four { from {
shadow: 0 0 250px 20px #182278;
}

to { shadow: 0 0 100px 15px #f1f2bb; }
}

#five
{
	width: 60%;
	/*animation*/
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes 
five { from {
-webkit-box-shadow: 0 0 250px 20px #6242f2;
}

to { -webkit-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-moz-keyframes 
five { from {
-moz-box-shadow: 0 0 250px 20px #6242f2;
}

to { -moz-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-o-keyframes 
five { from {
-o-box-shadow: 0 0 250px 20px #6242f2;
}

to { -o-box-shadow: 0 0 100px 15px #F4F6AD; }
}

@keyframes 
five { from {
box-shadow: 0 0 250px 20px #6242f2;
}

to { box-shadow: 0 0 100px 15px #F4F6AD; }
}

a {
    text-decoration: none;
    color: #9dc3f7;
    font-weight: 500;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
  }
  a:hover {
    border-bottom: 1px solid #9dc3f7;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  button {
    appearance: none;
    border: 0;
    background: transparent;
  }
  .flex {
    display: flex;
  }

  .footer_inner {
    background: #19222e;
    backdrop-filter: blur(50px);
    border: 0.1px solid rgba(0, 0, 0, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
  }
  .footer {
    height: 50%;
    padding-left: 30px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid #518ad4;
  }
  
  input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: bolder;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: var(--dark);
  }


  @media (max-width: 675px) {


    #wrap{
        padding-top: 300%;
    }

    .footer{
        padding-top: 70%;
        padding-right: 7%;
    }
}

  @media (min-width: 675px) {

    .layout {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 2rem;
    }
    .w-50 {
      width: 50%;
    }
    .w-25 {
      width: 25%;
    }
  }

  form {
    position: relative;
  }
  svg {
    margin: 0.5rem;
  }
  .c-2 {
    margin-top: 3.5rem;
  }

  .creative-cards{
    padding-bottom: 50%;
    position: relative;
}
.creative-cards .container {
    max-width: 1320px;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}
.creative-cards .container .row{
    display: flex;
    flex-wrap: wrap;
}
.creative-cards .container .row .card-column {
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: center;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.card-details {
    width: 80%;
    margin: auto;
    position: relative;
    transition: .3s ease-in-out;
}
.card-details:before {
    content: "";
    width: 190px;
    height: 380px;
    background: #9dc3f7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skew(-20deg, 0deg);
    z-index: -1;
    transition: .3s ease-in-out;
}
.card-details:hover:before{
    --border-width: 1px;
    --loop-cycle: 24s;
    position: absolute;
    inset: calc(var(--border-width)* -1);
    border-radius: 50px;
    border: var(--border-width) solid transparent;
    -webkit-mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
    -webkit-mask-clip: padding-box, border-box;
    mask-clip: padding-box, border-box;
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
    pointer-events: none;

}
.card-icons {
    width: 140px;
    height: 150px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-icons:before {
    border-radius: 30px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    width: 100%;
    height: 100%;
    transform: skew(-20deg, 0deg);
    background: #19222e;
    border-color: #19222e;
    transition: .3s ease-in-out;
}
.card-details:hover .card-icons:before{
    background: #9dc3f7;
}
.card-icons img{
    position: relative;
    width: 70px;
    height: 70px;
}
.card-details h3{
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2;
}

.read-more-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 100%;
    margin: auto;
    background: #19222e;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.card-details:hover .read-more-btn{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* ============= Responsive Ipad ==================== */
@media (max-width: 992px) {
 .creative-cards .container .row .card-column {
    padding-left: 20%;
    align-items: center;
    flex: 0 0 auto;
    width: 80%;
    margin-bottom: 70px;
}

.creative-cards{
    height: 230%;
}

}

/* ============= Responsive Iphone ==================== */
@media (max-width: 480px) {
 .creative-cards .container .row .card-column {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
}
.card-details{
    width: 100%;
}
.read-more-btn{
        transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}
}